* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.container {
    max-width: 450px;
    background: #737575;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(250, 248, 248, 0.4);
    font-family: sans-serif;
    padding: 20px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

h1 {
    color: #f30404;
    letter-spacing: 1.2px;
    font-size: 30px;
}

.temperature-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input {
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}

.temperature-unit {
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #5da0de;
    color: #f91111;
    border-radius: 0 8px 8px 0;
}

.button-container {
    margin-top: 25px;
    text-align: center;
}

.clear-button {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.clear-button:hover {
    background: #000;
    color: #fff;
}
